.caracteristicas{
    width: 100%;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style:decimal;
    margin-bottom: 250px;
    gap: 15px;
}