/* Animación para hacer negrita "a". */
footer a{
    /* Posiciona la línea sobre "a" */
    position: relative;
}
/* Animación para crear la animación de subrayado para "a". */
footer a::after{
    /* Añade una transición suave para la apariciób de la línea. */
    transition: width 1s ease-in-out;
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: currentColor; /* "CurrentColor" toma el color actua del texto/elemento con el que se esté trabando, en ese caso de "a". */
}
/* Hace que la animación tenga un estilo de llenado tras posicionar el cursor encima. */
footer a:hover::after{
    width: 100%;
}