main{
    width: 100%;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 35px 0px 170px 0px;
}

.pdf{
    height: 1000px;
    width: 100%;
    border-top: 7px solid black;
    border-left: 14px solid black;
    border-bottom: 3px solid black;
}

h2{
    margin: 30px 0px 70px 0px;
}

img{
    height: 100px;
    width: 100px;
}

.pdf-viewer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pdf-viewer img {
    width: 80%;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}
