@keyframes Aparicion{
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes Posicionamiento{
    from { transform: translateY(-50px);}
    to { transform: translateY(0); }
}

@keyframes Escritura{
    from { width: 0; }
    to { width: 77%; }
}

@keyframes Parpadeo{
    from, to { border-color: transparent; }
    50% { border-color: black; }
}


.Tarjeta:hover{
    /* Aumentamos el tamñao del elemento al 110% de su tamaño original. */
    transform: scale(1.05);
    border: 6px solid black;
    box-shadow: 0px 0px 10px 5px black;
    z-index: 1; /*(Lo ponemos para asegurarnosde que, cuando el cursor esté encima de "Tarjeta", todo el contenido de la tarjeta se mantenga por encima del fondo animado). */
    cursor: pointer;
}

.Libros{
    opacity: 0;
    /* La propiedad "forwards" permite que la animación, el objeto, se mantenga en el último estado dado por la regla de la animación. */
    animation: Aparicion 7s ease-in-out forwards;
}

h1 {
    /* Para que la animación se haga palabra por palabra dentro de una misma línea y no varias palabras en varias líneas. */
    white-space: nowrap;
    /* Para que el texto aparezca oculto. Esto con un desbordamiento. */
    overflow: hidden;
    border-right: 0.15em solid black; /* Barra de escritura. */
    /* Animación de escritura simula el efecto de escritura de un texto.
        El elemento "steps" divide la animación "Escritura" en 40 pasos.
            Mientras que "end" indica que la animación termina en el último paso.
        El elemento "step-end" indica que la animación "Parpadeo" termina en el último paso.
            Por otro lado, "infinite" indica que la animación se repite infinitamente.
    */
    animation: Escritura 4s steps(40, end) forwards, Parpadeo 0.75s step-end infinite;
}

h2{
    opacity: 0;
    animation: Aparicion 17s ease-in-out forwards, Posicionamiento 7s ease-in-out forwards;
}

footer a{
    /* Posiciona la línea sobre "a" */
    position: relative;
}

footer a::after{
    /* Añade una transición suave para la apariciób de la línea. */
    transition: width 1s ease-in-out;
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: currentColor; /* "CurrentColor" toma el color actua del texto/elemento con el que se esté trabando, en ese caso de "a". */
}

/* Hace que la animación tenga un estilo de llenado tras posicionar el cursor encima. */
footer a:hover::after{
    width: 100%;
}